<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler,Intelligencia.UrlRewriter"/>
	</configSections>
	<rewriter>
		<!-- Rewrite department pages -->
		<rewrite url="^.*-d([0-9]+)/?$" to="~/Catalog.aspx?DepartmentID=$1" processing="stop"/>
		<rewrite url="^.*-d([0-9]+)/page-([0-9]+)/?$" to="~/Catalog.aspx?DepartmentID=$1&amp;Page=$2" processing="stop"/>
		<!-- Rewrite category pages -->
		<rewrite url="^.*-d([0-9]+)/.*-c([0-9]+)/?$" to="~/Catalog.aspx?DepartmentId=$1&amp;CategoryId=$2" processing="stop"/>
		<rewrite url="^.*-d([0-9]+)/.*-c([0-9]+)/page-([0-9]+)/?$" to="~/Catalog.aspx?DepartmentId=$1&amp;CategoryId=$2&amp;Page=$3" processing="stop"/>
		<!-- Rewrite product details pages -->
		<rewrite url="^.*-p([0-9]+)/?$" to="~/Product.aspx?ProductId=$1" processing="stop"/>
		<!-- Rewrite default promo pages -->
		<rewrite url="^.*promo-([0-9]+)/?$" to="~/Default.aspx?Page=$1" processing="stop"/>
		<rewrite url="^.*home$" to="~/Default.aspx" processing="stop"/>
		<rewrite url="^.*catalog-admin$" to="~/AdminDepartments.aspx" processing="stop"/>
		<rewrite url="^.*cart-admin$" to="~/AdminShoppingCart.aspx" processing="stop"/>
		<rewrite url="^.*orders-admin$" to="~/AdminOrders.aspx" processing="stop"/>
	</rewriter>
	<appSettings>
		<add key="MailServer" value="smtp.gmail.com"/>
		<add key="MailUsername" value="smtp.testing.email"/>
		<add key="MailPassword" value="1234m,./"/>
		<add key="MailFrom" value="admin@mysite.com"/>
		<add key="EnableErrorLogEmail" value="true"/>
		<add key="ErrorLogEmail" value="smtp.testing.email@gmail.com"/>
		<add key="ProductsPerPage" value="6"/>
		<add key="ProductDescriptionLength" value="60"/>
		<add key="SiteName" value="BalloonShop"/>
		<add key="PaypalUrl" value="https://www.paypal.com/cgi-bin/webscr?cmd=_cart"/>
		<add key="PaypalEmail" value="balloon@example.com"/>
		<add key="PaypalCurrency" value="USD"/>
		<add key="PaypalReturnUrl" value="http://localhost:3375/BaloonShop/"/>
		<add key="PaypalCancelUrl" value="http://localhost:3375/BaloonShop/"/>
		<add key="CartPersistDays" value="10"/>
		<add key="PaypalUrl" value="https://www.paypal.com/xclick"/>
		<add key="CustomerServiceEmail" value="smtp.testing.email@gmail.com"/>
		<add key="OrderProcessorEmail" value="customer@mysite.com"/>
		<add key="SupplierEmail" value="smtp.testing.email@gmail.com"/>
	</appSettings>
	<connectionStrings>
		<add name="BalloonShopConnection" connectionString="Server=(local)\SqlExpress; Database=BalloonShop; User=balloonshop;Password=ecommerce" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<location path="AdminDepartments.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminCategories.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminProducts.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminProductDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!-- Only administrators are allowed to access AdminShoppingCart.aspx -->
	<location path="AdminShoppingCart.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!-- Only administrators are allowed to access AdminOrders.aspx -->
	<location path="AdminOrders.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!-- Only administrators are allowed to access AdminOrders.aspx -->
	<location path="AdminOrderDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!-- Only existing customers can access CustomerDetails.aspx -->
	<location path="CustomerDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="Customers"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!-- Only existing customers can access Checkout.aspx -->
	<location path="Checkout.aspx">
		<system.web>
			<authorization>
				<allow roles="Customers"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!-- Only existing customers can access OrderPlaced.aspx -->
	<location path="OrderPlaced.aspx">
		<system.web>
			<authorization>
				<allow roles="Customers"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!-- Only administrators are allowed to access OrderTest.aspx -->
	<location path="OrderTest.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<roleManager enabled="true" />
  <profile>
			<properties>
				<add name="CreditCard" type="System.String"/>
				<add name="Address1" type="System.String"/>
				<add name="Address2" type="System.String"/>
				<add name="City" type="System.String"/>
				<add name="Region" type="System.String"/>
				<add name="PostalCode" type="System.String"/>
				<add name="Country" type="System.String"/>
				<add name="ShippingRegion" type="System.String"/>
				<add name="DayPhone" type="System.String"/>
				<add name="EvePhone" type="System.String"/>
				<add name="MobPhone" type="System.String"/>
			</properties>
		</profile>
  <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms name="BalloonShopLogin" loginUrl="Login.aspx" path="/" protection="All" timeout="60">
			</forms>
		</authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off" defaultRedirect="~/Oops.aspx">
			<error statusCode="404" redirect="~/NotFound.aspx"/>
			<error statusCode="500" redirect="~/Oops.aspx"/>
		</customErrors>
		<pages theme="BalloonShopDefault" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
		<httpModules>
			<add type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" name="UrlRewriter"/>
		</httpModules>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
